body {
  background: linear-gradient(to top, #79c7ca, #000000);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 1000px;
}

h1 {
  font-family: "Press Start 2P", system-ui;
  font-size: 30px;
  color: #e0e0e0;
  text-shadow: 
  1px 1px 0 #000000,
  2px 2px 0 #444444,
  3px 3px 0 #888888,
  4px 4px 0 #cccccc;
  line-height: 1.2;
  text-align: center;
  cursor: pointer;
}

form {
  background: #c4c4c4;
  text-align: center;
  border: 4px solid #ffffff;
  border-radius: 10px;
  box-shadow: #000000 5px 4px 0 0;
  margin: 50px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 600px;
}
p {
  width: 100%;
  text-align: right;
  margin-top: 15px;
  color: #000000;
  font-size: 1rem;
  margin-right: 80px;
}
.text {
  text-align: center;
  color: #e0e0e0;
  font-size: 20px;
  padding: 20px;
}

.error-image {
  display: block;
  margin: 0 auto;
  height: 300px;
  padding: 20px;
}

.button {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 10px;
}

.button:hover {
  background-color: #ffffff;
}

.button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.textarea {
  border: 5px solid #422800;
  border-radius: 5px;
  box-shadow: #422800 4px 4px 0 0;
  resize: none;
  width: 100%;
  max-width: 500px;
  height: 100px;
}

.textarea:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.select {
  border-radius: 8px;
  box-shadow: #422800 4px 4px 0 0;
  font-size: 20px;
  width: 100%;
  max-width: 500px;
  margin-top: 10px;
}

.select:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.label {
  font-family: "Press Start 2P", system-ui;
  font-size: 15px;
  margin-top: 10px;
}

table {
  background-color: #ffffff;
  border: 5px solid #000000;
  box-shadow: #000000 5px 4px 0 0;
  border-radius: 8px;
  margin: 50px auto;
  width: 90%;
  max-width: 600px;
  overflow: hidden;
}

.btn {
  justify-content: center;
  display: flex;
  margin: 1rem auto;
}

table tbody tr td pre {
  height: 400px;
  width: 100%;
  max-width: 90vw;
  overflow-x: auto;
  overflow-y: auto;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    margin: 50px auto;
  }
  h1 {
    font-size: 1.5rem;
  }
  form {
    width: 90%;
    height: auto;
    padding: 10px;
  }
  p {
    font-size: 0.9rem; 
    margin-right: 5px;
  }
  .textarea {
    height: 160px;
    width: 100%;
  }
  .select {
    font-size: 16px;
  }
  .label {
    font-size: 1.2rem;
  }
  table {
    width: 100%;
  }
  table tbody tr td pre {
    height: 300px;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    margin: 90px auto;
  }
  h1 {
    font-size: 1rem;
  }
  form {
    width: 90%;
    height: auto;
    padding: 5px;
  }
  p {
    font-size: 0.8rem;
    margin-right: 2px;
  }
  .textarea {
    height: 120px;
    width: 100%;
  }
  .select {
    font-size: 14px;
  }
  .label {
    font-size: 1rem;
  }
  .button {
    font-size: 16px;
    padding: 0 10px;
    line-height: 40px;
  }
  table {
    width: 100%;
  }
  table tbody tr td pre {
    height: 300px;
    width: 100%;
  }
}
